:root {
    --primary-text-color: #2455e6;
    --primary-background-color: #e6e6e9;
    --secondary-background-color: #ffc917;
    --button-color: #2455e6;
    --white: #ffffff;
    --border-light: #d2d2d7;
}

body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: var(--primary-background-color);
    color: var(--primary-text-color);
}

header {
    background-color: var(--secondary-background-color);
    width: 100%;
    padding: 1em 1em 10em 1em;
    box-sizing: border-box;
}

main {
    margin-top: -10em;
}

h1 {
    font-size: clamp(3rem, 3vw, 4rem);
    color: var(--primary-text-color);
    margin-bottom: 0;
    text-align: center;
}

header p {
    color: red;
    font-size: 1.48rem;
    margin-top: 0;
    text-align: center;
}

/* Fieldsets */
fieldset {
    background-color: var(--white);
    border: none;
    border-radius: 10px;
    padding: 2em;
    margin: 2em auto;
    max-width: 800px;
    width: 90%;
    box-sizing: border-box;
}

fieldset fieldset {
    background-color: #f8f9fb;
    padding: 1.5em 2em;
    
}

/* Legend styling */
fieldset fieldset legend {
    display: block;
    width: calc(100% + 4.33em);
    background: #f8f9fb;
    margin: 0 -2.33em 0;
    padding: 0.5em 1.5em;
    box-sizing: border-box;
    border-radius: 0.5em;
    border-left: 4px solid var(--secondary-background-color);
}

legend {
    background-color: white;
    width: calc(100% + 1em);
    border-radius: 0.5em;
    margin: 0 -2em 0;
    padding: 0.5em 1.5em;
}

.firstlegend {
    font-size: 1.48rem;
    margin: 0 -1.35em 0;
    padding: 0.5em 0.85em;
}

/* Form inputs en Validity*/
input[type="text"],
input[type="date"],
input[type="email"],
input[type="tel"],
input[type="number"] {
    display: block;
    width: 100%;
    padding: 0.75em;
    margin-bottom: 1.2em;
    border: 1px solid var(--border-light);
    border-radius: 6px;
    font-size: 1rem;
    box-sizing: border-box;
    transition: border 0.2s ease, box-shadow 0.2s ease;
}

input[type="text"]:focus,
input[type="date"]:focus,
input[type="email"]:focus,
input[type="tel"]:focus,
input[type="number"]:focus {
    outline: none;
    border: 2px solid var(--secondary-background-color);
}

input[type="text"]:user-valid:focus,
input[type="date"]:user-valid:focus,
input[type="email"]:user-valid:focus,
input[type="tel"]:user-valid:focus,
input[type="number"]:user-valid:focus {
    outline: none;
    border: 2px solid green;
}

input.invalid {
  border: 2px solid red;
  background-color: lightcoral;
}

span.error {
  color: red;
  font-size: 0.9em;
  visibility: hidden;     /* Verberg standaard */
  display: block;         /* nieuwe regel */
  margin-top: -1em;
  margin-bottom: 1em;

}

span.error.active {
  visibility: visible;
}

/* Radio buttons als knoppen */
input[type="radio"] {
    display: none;
}

label:has(input[type="radio"]) {
    display: block;
    margin-top: 0.75em;
    cursor: pointer;
    background-color: var(--white);
    border: 2px solid var(--primary-text-color);
    padding: 0.75em 1em;
    border-radius: 8px;
    font-weight: 600;
    transition: border 0.15s ease, background-color 0.2s ease, color 0.2s ease;
}

label:has(input[type="radio"]):hover {
    border: 3px solid var(--primary-text-color);
}

label:has(input[type="radio"]:checked) {
    background-color: var(--button-color);
    color: var(--white);
    border-color: var(--button-color);
}

/* Verzend Button */
button {
    display: block;
    width: 90%;
    max-width: 800px;
    margin: 2em auto;
    background-color: var(--button-color);
    color: var(--white);
    border: none;
    padding: 0.9em 1.5em;
    border-radius: 6px;
    cursor: pointer;
    font-size: 1.48rem;
}

/* MARK: Pattern 1: Openen en Dicht doen van Velden */
#partner_questions,
#children_related_questions,
#will_details_section {
    max-height: 1000px;
    overflow: hidden;
    opacity: 1;
    transition: max-height 0.4s ease, opacity 0.3s ease;
}
form:has(#married_or_registered_partner_no:checked) #partner_questions {
    max-height: 0;
    opacity: 0;
}
form:has(#has_children_no:checked) #children_related_questions {
    max-height: 0;
    opacity: 0;
}
form:has(#has_will_no:checked) #will_details_section {
    max-height: 0;
    opacity: 0;
}

#bsn_field,
#becon_field,
#notary_field,
#foreign_fields,
#nl_fields {
    display: none;
}
form:has(#choice1:checked) #bsn_field {
    display: block;
}
form:has(#choice2:checked) #becon_field {
    display: block;
}

form:has(#choice3:checked) #notary_field {
    display: block;
}

form:has(#representative_is_established_in_netherlands_no:checked) #foreign_fields {
    display: block;
}

form:has(#representative_is_established_in_netherlands_yes:checked) #nl_fields {
    display: block;
}